<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Unite Gallery - Tiles - Columns</title>

  <script type='text/javascript' src='/assets/jquery-11.0.min.js'></script> 
  <script type='text/javascript' src='/assets/unitegallery.min.js'></script>  

  <link rel='stylesheet' href='/assets/unite-gallery.css' type='text/css' />
  
  <script type='text/javascript' src='/assets/ug-theme-tiles.js'></script>
  
  
</head>

<body>
  
  <h2>Tiles - Columns</h2>
  
  <div id="gallery" style="display:none;">

    <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/assets/thumbs/tile1.jpg"
         data-image="/assets/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/assets/thumbs/tile2.jpg"
         data-image="/assets/big/tile2.jpg"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/assets/thumbs/tile3.jpg"
         data-image="/assets/big/tile3.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/assets/thumbs/tile4.jpg"
         data-image="/assets/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/assets/thumbs/tile5.jpg"
         data-image="/assets/big/tile5.jpg"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/assets/thumbs/tile6.jpg"
         data-image="/assets/big/tile6.jpg"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/assets/thumbs/tile7.jpg"
         data-image="/assets/big/tile7.jpg"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/assets/thumbs/tile8.jpg"
         data-image="/assets/big/tile8.jpg"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/assets/thumbs/tile9.jpg"
         data-image="/assets/big/tile9.jpg"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/assets/thumbs/tile10.jpg"
         data-image="/assets/big/tile10.jpg"
         data-description="This is iphone back"
         style="display:none">
    </a>
    <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/assets/thumbs/tile1.jpg"
         data-image="/assets/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/assets/thumbs/tile2.jpg"
         data-image="/assets/big/tile2.jpg"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/assets/thumbs/tile3.jpg"
         data-image="/assets/big/tile3.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/assets/thumbs/tile4.jpg"
         data-image="/assets/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/assets/thumbs/tile5.jpg"
         data-image="/assets/big/tile5.jpg"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/assets/thumbs/tile6.jpg"
         data-image="/assets/big/tile6.jpg"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/assets/thumbs/tile7.jpg"
         data-image="/assets/big/tile7.jpg"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/assets/thumbs/tile8.jpg"
         data-image="/assets/big/tile8.jpg"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/assets/thumbs/tile9.jpg"
         data-image="/assets/big/tile9.jpg"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/assets/thumbs/tile10.jpg"
         data-image="/assets/big/tile10.jpg"
         data-description="This is iphone back"
         style="display:none">
    </a>
    <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/assets/thumbs/tile1.jpg"
         data-image="/assets/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/assets/thumbs/tile2.jpg"
         data-image="/assets/big/tile2.jpg"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/assets/thumbs/tile3.jpg"
         data-image="/assets/big/tile3.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/assets/thumbs/tile4.jpg"
         data-image="/assets/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/assets/thumbs/tile5.jpg"
         data-image="/assets/big/tile5.jpg"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/assets/thumbs/tile6.jpg"
         data-image="/assets/big/tile6.jpg"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/assets/thumbs/tile7.jpg"
         data-image="/assets/big/tile7.jpg"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/assets/thumbs/tile8.jpg"
         data-image="/assets/big/tile8.jpg"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/assets/thumbs/tile9.jpg"
         data-image="/assets/big/tile9.jpg"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/assets/thumbs/tile10.jpg"
         data-image="/assets/big/tile10.jpg"
         data-description="This is iphone back"
         style="display:none">
    </a>
    <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/assets/thumbs/tile1.jpg"
         data-image="/assets/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/assets/thumbs/tile2.jpg"
         data-image="/assets/big/tile2.jpg"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/assets/thumbs/tile3.jpg"
         data-image="/assets/big/tile3.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/assets/thumbs/tile4.jpg"
         data-image="/assets/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/assets/thumbs/tile5.jpg"
         data-image="/assets/big/tile5.jpg"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/assets/thumbs/tile6.jpg"
         data-image="/assets/big/tile6.jpg"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/assets/thumbs/tile7.jpg"
         data-image="/assets/big/tile7.jpg"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/assets/thumbs/tile8.jpg"
         data-image="/assets/big/tile8.jpg"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/assets/thumbs/tile9.jpg"
         data-image="/assets/big/tile9.jpg"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/assets/thumbs/tile10.jpg"
         data-image="/assets/big/tile10.jpg"
         data-description="This is iphone back"
         style="display:none">
    </a>
    <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/assets/thumbs/tile1.jpg"
         data-image="/assets/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/assets/thumbs/tile2.jpg"
         data-image="/assets/big/tile2.jpg"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/assets/thumbs/tile3.jpg"
         data-image="/assets/big/tile3.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/assets/thumbs/tile4.jpg"
         data-image="/assets/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/assets/thumbs/tile5.jpg"
         data-image="/assets/big/tile5.jpg"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/assets/thumbs/tile6.jpg"
         data-image="/assets/big/tile6.jpg"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/assets/thumbs/tile7.jpg"
         data-image="/assets/big/tile7.jpg"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/assets/thumbs/tile8.jpg"
         data-image="/assets/big/tile8.jpg"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/assets/thumbs/tile9.jpg"
         data-image="/assets/big/tile9.jpg"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/assets/thumbs/tile10.jpg"
         data-image="/assets/big/tile10.jpg"
         data-description="This is iphone back"
         style="display:none">
    </a>

       
  </div>
  
  <script type="text/javascript">

    jQuery(document).ready(function(){

      jQuery("#gallery").unitegallery();

    });
    
  </script>


</body>
</html>