<!-- ********** overlay ********** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <p>Welcome to Falconwood Park</p>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Continue to Site</a>
        </div>
        <video class="hidden-md-down" controls autoplay poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
          <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
          <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
          <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg">
          <img alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" title="No video playback capabilities, please download the video below">
        </video>
      </div>
    </div>
  </div>
</div>
<!-- ********** /overlay ********** -->

<!-- 5 column layout responsive -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xm-12 nopadding">
      <section class="strips">
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title">Weddings</h1>
            <div class="strip__inner-text">
              <h2>Weddings</h2>
              <p>A unique indoor/outdoor space, flexibility on catering, affordable priceing and more!</p>
              <p>
                <a href="/wedding"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
            
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title">Live Music</h1>
            <div class="strip__inner-text">
              <h2>Live Music</h2>
              <p>Here is a bunch of text about live music!</p>
              <p>
                <a href="https://twitter.com/ettrics"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title">Drive-In</h1>
            <div class="strip__inner-text">
              <h2>Ettrics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
              <p>
                <a href="https://twitter.com/ettrics"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title">Camping</h1>
            <div class="strip__inner-text">
              <h2>Ettrics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
              <p>
                <a href="https://twitter.com/ettrics"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title">Private Events</h1>
            <div class="strip__inner-text">
              <h2>Ettrics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
              <p>
                <a href="https://twitter.com/ettrics"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <i class="hidden-md-up fa fa-close strip__close"></i>
      </section>
    </div>
  </div>
</div>
<!-- ********** /5 column layout responsive ********** -->
