<!-- ********** overlay ********** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">
        <div id="homepage-overlay" class="overlay">
          <div class="overlay-content header-img">
            <%= image_tag "falconwood-logo-white-150.png", class:"logo-lg"%>
            <p class="welcome">Welcome to Falconwood Park</p>
            <p class="continue">Continue to Site<br><i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i></p>
          </div>
          <!-- <video class="hidden-md-down" controls autoplay poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg">
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg">
            <img alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" title="No video playback capabilities, please download the video below">
          </video> -->
        </div>
      </a>
    </div>
  </div>
</div>
<!-- ********** /overlay ********** -->

<!-- 5 column layout responsive -->
<!-- <div class="container-fluid index-container">
  <div class="row">
    <div class="col-xm-12 nopadding">
      <section class="strips">
        <article class="strips__strip">
          <div class="strip__content">
            <div class="title_background">
              <h1 class="strip__title">Weddings</h1>
            </div>
            <div class="strip__inner-text">
              <h2>Weddings</h2>
              <p>A unique indoor/outdoor space, flexibility on catering, affordable priceing and more!</p>
              <p>
                <a href="weddings"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <div class="title_background">
              <h1 class="strip__title">Live Music</h1>
            </div>
            <div class="strip__inner-text">
              <h2>Live Music</h2>
              <p>Some text about our live music</p>
              <p>
                <a href="live_music"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <div class="title_background">
              <h1 class="strip__title">Drive-In</h1>
            </div>
            <div class="strip__inner-text">
              <h2>Drive-In</h2>
              <p>Some text about our drive-in.</p>
              <p>
                <a href="drive_in"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <div class="title_background">
              <h1 class="strip__title">Camping</h1>
            </div>
            <div class="strip__inner-text">
              <h2>Camping</h2>
              <p>Some text about our campground.</p>
              <p>
                <a href="camping"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <div class="title_background">
              <h1 class="strip__title">Private Events</h1>
            </div>
            <div class="strip__inner-text">
              <h2>Private Events</h2>
              <p>Some text about our private events.</p>
              <p>
                <a href="private_events"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </article>
        <i class="hidden-md-up"></i>
      </section>
    </div>
  </div>
</div> -->
<!-- ********** /5 column layout responsive ********** -->

<!-- **************** demo layout ***************** -->
<section class="strips">
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Lorem">Awesome</h1>
      <div class="strip__inner-text">
        <h2>Ettrics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
        <p>
          <a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
      
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Ipsum">Words</h1>
      <div class="strip__inner-text">
        <h2>Ettrics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
        <p>
          <a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Dolor">Go</h1>
      <div class="strip__inner-text">
        <h2>Ettrics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
        <p>
          <a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Sit">Inside</h1>
      <div class="strip__inner-text">
        <h2>Ettrics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
        <p>
          <a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Amet">Here</h1>
      <div class="strip__inner-text">
        <h2>Ettrics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
        <p>
          <a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>
  </article>
  <i class="fa fa-close strip__close"></i>
</section>
<!-- **************** demo layout ***************** -->
