<!-- ********** overlay ********** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <div id="homepage-overlay" class="overlay">
          <div class="overlay-content header-img">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Homepage/falconwood-logo-white-400.png", class:"overlay-logo"%>
            <h1 class="main-accent-font larger yellow">Welcome to Falconwood Park</h1>
            <div class="button-container">
              <a href="javascript:void(0)" class="btn btn-secondary action-button" onclick="closeOverlay()">Continue to Site <!-- <i class="fa fa-arrow-circle-right fa-1x white" aria-hidden="true"></i> -->
              </a>
              <%= link_to "Hullaba-Whaa?", live_music_path, class: "btn btn-secondary action-button", role: "button" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- ********** /overlay ********** -->

<!-- 5 column layout responsive -->
<div class="container-fluid index-container">
  <div class="row">
    <div class="col-xm-12 nopadding">
      <section class="strips">
        <article class="strips__strip">
          <a href="weddings">
            <div class="strip__content">
              <div class="title_background">
                <h1 class="strip__title main-accent-font larger">Weddings</h1>
              </div>
              <div class="strip__inner-text hidden-sm-down">
                <h2 class=" main-accent-font larger">Weddings</h2>
                <p class="secondary-accent-font larger">A unique indoor/outdoor space, flexibility on catering, affordable pricing and more!</p>
                <p>
                  <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </a>
        </article>
        <article class="strips__strip">
          <a href="live_music">
            <div class="strip__content">
              <div class="title_background">
                <h1 class="strip__title main-accent-font larger">Live Music</h1>
              </div>
              <div class="strip__inner-text hidden-sm-down">
                <h2 class=" main-accent-font larger">Live Music</h2>
                <p class="secondary-accent-font larger">Home of Hullabaloo, FishFest, and Omaha's first 'Camphitheater'.</p>
                <p>
                  <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </a>
        </article>
        <article class="strips__strip">
          <a href="drive_in">
            <div class="strip__content">
              <div class="title_background">
                <h1 class="strip__title main-accent-font larger">Drive-In</h1>
              </div>
              <div class="strip__inner-text hidden-sm-down">
                <h2 class=" main-accent-font larger">Drive-In</h2>
                <p class="secondary-accent-font larger">Come discover or relive your favorite movie-going experience.</p>
                <p>
                  <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </a>
        </article>
        <article class="strips__strip">
          <a href="camping">
            <div class="strip__content">
              <div class="title_background">
                <h1 class="strip__title main-accent-font larger">Camping</h1>
              </div>
              <div class="strip__inner-text hidden-sm-down">
                <h2 class=" main-accent-font larger">Camping</h2>
                <p class="secondary-accent-font larger">Book your camping, glamping, or seasonal RV spot.</p>
                <p>
                  <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </a>
        </article>
        <article class="strips__strip">
          <a href="private_events">
            <div class="strip__content">
              <div class="title_background">
                <h1 class="strip__title main-accent-font larger">Private Events</h1>
              </div>
              <div class="strip__inner-text hidden-sm-down">
                <h2 class=" main-accent-font larger">Private Events</h2>
                <p class="secondary-accent-font larger">Company picnics, family reunions, church camps, and any other reason to Celebrate Life.</p>
                <p>
                  <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </a>
        </article>
        <i class="hidden-md-up"></i>
      </section>
    </div>
  </div>
</div>
<!-- ********** /5 column layout responsive ********** -->
