<div class="container-fluid">
	<div class="row">
		<div>
			<%= image_tag "index_wedding.jpg", class:"index-header-img" %>
		</div>
	</div>
</div>
<div class="container category-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container">
				<h2 class="text-center content-header">Drive-In</h2>
				<p>Kick back and relive your childhood summer days at the drive-in! Falconwood Park features a 37 foot screen and Drive-In Passes that allow for patrons to park in our 150 space drive-in parking lot on a first come first serve basis. Once the main lot is full Park and Walk Passes will be available to patrons until the show is sold out.  Park and Walk patrons are welcome to park in the side lot and walk to our viewing area at the front of the green with blankets and camping chairs.</p>

				<p>Our Drive-In features and outdoor sound system as well as an FM radio transmitter so you can feel free to watch the movie from the comfort of your own vehicle or lounge outside the car and enjoy it with your friends.</p>
			</div>
			<div>
				<h2 class="text-center content-header">2017 Spring/Summer Lineup Coming Soon!</h2>
			</div>
		</div>
	</div>
</div>