<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/2560x1200private.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Private Events</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/about-private.jpg", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Whether you are looking for a place to hold your employee appreciation party or a spot to gather your family to celebrate life, Falconwood Park has you covered.  In its heyday the park has hosted company picnics from OPPD to Union Pacific and every union in town. We are bringing it back and reinvigorating how a company picnic looks and feels with many unique options including a private drive-in screening!</p>

        <p>If it is a family reunion you are looking for, you can rent the park for a night or two and keep everyone entertained with volleyball, horseshoes, badminton, bonfires, and a full service bar!  We also have a kitchen for all your cooking needs and can set you up with accommodations.  You can contact one of our partners for lodging, pitch a tent, park an RV, or rent a glampsite from us.</p>

        <div class="button-container">
          <%= link_to "About Our Park", about_path, class: "btn btn-secondary action-button", role: "button" %>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black md-grey-font"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Details')"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Gallery')" id="defaultOpen"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-t-5 accent-font-1">Booking</h1>
              <p>If you want to host your company party/retreat or family reunion at Falconwood contact Brandon at <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.  We will work with you to provide the best environment for the success of your event.  We can be as hands on as you would like offering packages to ease your workload or you can customize your own party using your preferred vendors.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/girls-playing-swing-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/girls-playing-swing.jpg"
                   data-description="Girls playing on a swing at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/pavilion-patio-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/pavilion-patio.jpg"
                   data-description="Falconwood Park patio"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/picnic-tables-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/picnic-tables.jpg"
                   data-description="Falconwood Park picnic tables"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/picnic-tables-playground-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/picnic-tables-playground.jpg"
                   data-description="Falconwood Park picnic tables and playground"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/park-trail-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/park-trail.jpg"
                   data-description="Falconwood Park forest path"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/patio-picnic-tables-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/patio-picnic-tables.jpg"
                   data-description="Falconwood Park patio and picnic tables"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/pavilion-stage-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/pavilion-stage.jpg"
                   data-description="Falconwood Park inside stage"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/pavilion-seating-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/pavilion-seating.jpg"
                   data-description="Falconwood Park inside seating"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/Thumbs/inside-pavilion-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/inside-pavilion.jpg"
                   data-description="Falconwood Park inside bar"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/J73A8747.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Private+Events/J73A8747.jpg"
                   data-description="Falconwood Park Ferris Wheel"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->