<div class="container-fluid">
	<div class="row">
		<div>
			<%= image_tag "index_music.jpg", class:"index-header-img" %>
		</div>
	</div>
</div>
<div class="container category-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container">
				<h2 class="text-center content-header">Drive-In</h2>
				<p>Kick back and relive your childhood summer days at the drive-in! Falconwood Park features a 37 foot screen and Drive-In Passes that allow for patrons to park in our 150 space drive-in parking lot on a first come first serve basis. Once the main lot is full Park and Walk Passes will be available to patrons until the show is sold out.  Park and Walk patrons are welcome to park in the side lot and walk to our viewing area at the front of the green with blankets and camping chairs.</p>

				<p>Our Drive-In features and outdoor sound system as well as an FM radio transmitter so you can feel free to watch the movie from the comfort of your own vehicle or lounge outside the car and enjoy it with your friends.</p>
			</div>
			<div>
				<h2 class="text-center content-header">2017 Spring/Summer Lineup Coming Soon!</h2>
			</div>
		</div>
	</div>
</div>
<!-- ******************* Page Tabs ******************* -->
<div class="container tab-container">
  <div class="row">
    <div class="col-xs-12 main-content schedule-content">
      <ul class="tabs">
        <li class="four borders">
          <h3><a href="#tab1" id="first-tab" class="tab-title schedule-tab">Details</a></h3></li>
        <li class="four borders">
          <h3><a href="#tab2" id="second-tab" class="tab-title schedule-tab">Pricing</a></h3></li>
        <li class="four borders">
          <h3><a href="#tab3" id="third-tab" class="tab-title schedule-tab">Gallery</a></h3></li>
        <li class="four borders">
          <h3><a href="#tab4" id="fourth-tab" class="tab-title schedule-tab">Lineup</a></h3></li>
      </ul>

      <div id="tab1" class="tabcontent events">
        <div class="event">
          <h3 class="headline-title schedule">FAQs</h3>
          <h4 class="description">Can I bring my dog to the park?</h4>
          <p>We love dogs at the park! We require all dogs to remain on a leash at all times for everyones safety.</p>

          <h4 class="description">Can I bring my own alcohol to the park?</h4>
          <p>No. Falconwood park has a fully stocked bar with drinks available for purchase.  Coolers are allowed in the outside campground however no alchol is allowed past the gate.</p>
        </div>
      </div>

      <div id="tab2" class="tabcontent events">
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>

        <p><i>Schedule and times subject to change.</i></p>
      </div>

      <div id="tab3" class="tabcontent events">
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
        <div class="event">
          <h4 class="description">detail description</h4>
          <h3 class="headline-title schedule">Event Title</h3>
        </div>
      </div>

      <div id="tab4" class="tabcontent events">
        <div class="event">
          <h4 class="description">Thursday 9pm</h4>
          <h3 class="headline-title schedule">Kris Lager Band</h3>
        </div>
        <div class="event">
          <h4 class="description">Thursday 10pm</h4>
          <h3 class="headline-title schedule">The Yawpers</h3>
        </div>
        <div class="event">
          <h4 class="description">Friday 7pm</h4>
          <h3 class="headline-title schedule">Spoonfed Tribe</h3>
        </div>
        <div class="event">
          <h4 class="description">Friday 9pm</h4>
          <h3 class="headline-title schedule">Zoso</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************* Page Tabs ******************* -->