<div class="container-fluid">
  <div class="row">
    <div>
      <%= image_tag "2560x1200music.jpg", class:"index-header-img" %>
    </div>
  </div>
</div>
<div id="about"></div>
<div class="container">
  <div class="row content-container">
    <div class="col-sm-12 col-md-6">
      <h1 class="text-center content-header">About our</h1>
      <h1 class="text-center content-header">Live Music</h1>
      <%= image_tag "about-music.png", class:"about-img"%>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!-- ******************* Page Tabs ******************* -->
<div id="details"></div>
<div class="container-fluid">
  <div class="row content-container"
    <div class="col-sm-12">
      <div class="tab">
        <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
        <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Pricing')"><h3>Pricing</h3></a>
        <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
        <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
      </div>

      <div id="Details" class="tabcontent container">
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12">
            <h2 class="yellow text-center p-b-5 admiration-font">Details</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

      <div id="Pricing" class="tabcontent container">
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12">
            <h2 class="yellow text-center p-b-5 admiration-font">Pricing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

      <div id="Calendar" class="tabcontent container">
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12">
            <h2 class="yellow text-center p-b-5 admiration-font">Calendar</h2>
          </div>
        </div>
      </div>

      <div id="Lineup" class="tabcontent container">
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12 col-md-6">
            <%= image_tag "hullabaloo.jpg", class:"half-col-img" %>
          </div>
          <div class="col-sm-12 col-md-6">
            <h1 class="admiration-font yellow text-center">Hullabaloo</h1>
            <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
            <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
          </div>
        </div>
        <hr>
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12 col-md-6">
            <%= image_tag "nappy-roots-poster.jpg", class:"half-col-img" %>
          </div>
          <div class="col-sm-12 col-md-6">
            <h1 class="admiration-font yellow text-center">Awesome Concert</h1>
            <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
          </div>
        </div>
      </div>

      <div id="Gallery" class="tabcontent container">
        <div class="row p-t-5 p-b-5">
          <div class="col-sm-12">
            <h2 class="yellow text-center admiration-font p-b-5">Gallery</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                    <!-- Trigger the Modal -->
                    <img id="myImg" src="http://lorempixel.com/600/400/" alt="this text shows in the modal" onClick="reply_click(this.id)" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>

                    <!-- The Modal -->
                    <div id="imgModal" class="modal">

                      <!-- The Close Button -->
                      <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                      <!-- Modal Content (The Image) -->
                      <img class="modal-content" id="img01">

                      <!-- Modal Caption (Image Text) -->
                      <div id="caption"></div>
                    </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/600/400/" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/600/400/" alt="Fjords" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************* Page Tabs ******************* -->
<div id="contact"></div>
