<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/2560x1200music.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Live Music</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/about-music.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <a href="/about" class="btn btn-secondary action-button" role="button">About Our Park</a>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-b-5 accent-font-1">Details</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Photo courtesy of James Dean Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/kris-lager-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/kris-lager.jpg"
                   data-description="Kris Lager Band on stage in front of cheering crowd at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/sophistafunk-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/sophistafunk.jpg"
                   data-description="Sophistafunk on stage in front of cheering crowd at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Scott Carson Ausburn"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/Firespinning-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Firespinning.jpg"
                   data-description="Women spinning hoops of fire at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Scott Carson Ausburn"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/Jon-Wayne-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Jon-Wayne.jpg"
                   data-description="John Wayne and the pain playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Duchess Burns"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/duchess-forest-lights-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/duchess-forest-lights.jpg"
                   data-description="Falconwood Park forest lights"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/james-dean-forest-lights-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/james-dean-forest-lights.jpg"
                   data-description="Falconwood Park forest lights"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/flamingos-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/flamingos.jpg"
                   data-description="Plastic pink flamingos with glow light necklaces at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/KLB-on-stage-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/KLB-on-stage.jpg"
                   data-description="Kris Lager playing guitar on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/henry-and-the-invisibles-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/henry-and-the-invisibles.jpg"
                   data-description="Henry and the Invisibles playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/manic-focus-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/manic-focus.jpg"
                   data-description="Manic Focus playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/extra-fresh-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/extra-fresh.jpg"
                   data-description="Extra Fresh playing guitar on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of James Dean photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/male-fire-dancer-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/male-fire-dancer.jpg"
                   data-description="Fire Dancer"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12 col-md-6">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Posters/hullabaloo.jpg", class:"half-col-img" %>
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="yellow text-center accent-font-1">Hullabaloo</h1>
              <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              
              <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
            </div>
          </div>
          <hr>
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12 col-md-6">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Posters/nappy-roots-poster.jpg", class:"half-col-img" %>
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="yellow text-center accent-font-1">Awesome Concert</h1>
              <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->

  <div id="contact"></div>
