<div class="container-fluid">
	<div class="row">
		<div>
			<%= image_tag "index_wedding.jpg", class:"index-header-img" %>
		</div>
		<div class="down-arrow-container">
			<div class="line-separator">
			    <div class="side-line"> </div>
			    <div class="triangle"> </div>
			    <div class="side-line"> </div>
			</div>
		</div>
	</div>
</div>
<div class="container category-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container">
				<h2 class="text-center content-header">Drive-In</h2>
				<p>Kick back and relive your childhood summer days at the drive-in! Falconwood Park features a 37 foot screen and Drive-In Passes that allow for patrons to park in our 150 space drive-in parking lot on a first come first serve basis. Once the main lot is full Park and Walk Passes will be available to patrons until the show is sold out.  Park and Walk patrons are welcome to park in the side lot and walk to our viewing area at the front of the green with blankets and camping chairs.</p>

				<p>Our Drive-In features and outdoor sound system as well as an FM radio transmitter so you can feel free to watch the movie from the comfort of your own vehicle or lounge outside the car and enjoy it with your friends.</p>
			</div>
			<div>
				<h2 class="text-center content-header">2017 Spring/Summer Lineup Coming Soon!</h2>
			</div>
			<div class="tabs">
			    <ul class="tab-links">
			        <li class="active"><a href="#tab1">Tab #1</a></li>
			        <li><a href="#tab2">Tab #2</a></li>
			        <li><a href="#tab3">Tab #3</a></li>
			        <li><a href="#tab4">Tab #4</a></li>
			    </ul>
			 
			    <div class="tab-content">
			        <div id="tab1" class="tab active">
			            <p>Tab #1 content goes here!</p>
			            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
			        </div>
			 
			        <div id="tab2" class="tab">
			            <p>Tab #2 content goes here!</p>
			            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
			        </div>
			 
			        <div id="tab3" class="tab">
			            <p>Tab #3 content goes here!</p>
			            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
			        </div>
			 
			        <div id="tab4" class="tab">
			            <p>Tab #4 content goes here!</p>
			            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>