<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/2560x1200wedding.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Weddings</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/about-wedding.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <a href="/about" class="btn btn-secondary action-button" role="button">About Our Park</a>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-b-5 accent-font-1">Details</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-548-2.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-548-2.jpg"
                   data-description="Couple posing on path in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/J73A5455.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/J73A5455.jpg"
                   data-description="Directional sign pointing to ceremony and reception"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/J73A5465.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/J73A5465.jpg"
                   data-description="Alter and hay bale seating"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-569.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-569.jpg"
                   data-description="Bridal party standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-641.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-641.jpg"
                   data-description="Bride standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-643.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-643.jpg"
                   data-description="Bride with bouquet standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-667.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-667.jpg"
                   data-description="Groom posting in front of wood stack"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-694.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-694.jpg"
                   data-description="Bride and groom posing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/website9.jpeg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/website9.jpeg"
                   data-description="Inside tabel decor"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/website5.jpeg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/website5.jpeg"
                   data-description="Inside red diner style booths"
                   style="display:none">
              </a>
              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-826.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-826.jpg"
                   data-description="Bride and groom dancing inside"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-670.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-670.jpg"
                   data-description="Bride and grandpa dancing on Falconwood Park patio"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-723.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-723.jpg"
                   data-description="Bride and guests dancing on Falconwood Park patio"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-736.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-736.jpg"
                   data-description="Bride throwing bouquet to guests on Falconwood Park patio"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12 col-md-6">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/hullabaloo.jpg", class:"half-col-img" %>
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="yellow text-center accent-font-1">Hullabaloo</h1>
              <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              
              <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
            </div>
          </div>
          <hr>
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12 col-md-6">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/nappy-roots-poster.jpg", class:"half-col-img" %>
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="yellow text-center accent-font-1">Awesome Concert</h1>
              <h4 class="text-center p-t-5">August 3, 2017 - August 6, 2017</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <a href="www.google.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->

  <div id="contact"></div>