<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Weddings/2560x1200wedding.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Weddings</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Weddings/about-wedding.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Falconwood Park is quickly becoming one of the most popular places to book a wedding with our unique indoor/outdoor space, flexibility on catering, no hidden fees, and affordable prices with a focus on value!  We have 26 acres of shaded green space with sand volleyball, badminton, horseshoes, playground, and fire-pits. We have a 6,000 square foot rustic lodge with open exposed beam wood ceilings, a full-service bar, and kitchen for your catering needs. We do allow outside food vendors which is a big selling point for most brides. It allows you to shop around for the best deal on catering. We handle the liquor as we have a liquor license. Tables, chairs, use of any of our ceremony sites, and staffing are all included in the rental.</p>

        <p>We also have a 3,000 square foot patio with Edison bulbs and multiple staging options for entertainment. We not only have a partnership with a nearby hotel but we have glamorous camping or 'glamping' which is a really fun option for your guests! We have 4 glamp sites available at $80 each for the night, or people can bring their own tent, RV, or camper and stay for free and hang around the campfire. Falconwood Park really is a great place to have your wedding.</p>

        <address><a href="mailto:falconwoodpark@gmail.com" class="btn btn-secondary action-button" role="button">Contact Us</a></address>

      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks three accent-font-2" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks three accent-font-2" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks three accent-font-2" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-b-5 accent-font-1">Details</h1>
              <p>For pricing and availability please email Brandon Miller at <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.  We do also offer a package if you are looking for a ceremony site only.  Don't be discouraged if you see something on your day on the calendar.  We don't hold two events at once but it may be a company picnic in the morning or just a quick afternoon ceremony where we still have the evening available.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/kotulak-548-2-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-548-2.jpg"
                   data-description="Couple posing on path in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/wedding-sign-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/wedding-sign.jpg"
                   data-description="Directional sign pointing to ceremony and reception"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/branch-altar-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/branch-altar.jpg"
                   data-description="Alter and hay bale seating"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-569-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-569.jpg"
                   data-description="Bridal party standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-641-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-641.jpg"
                   data-description="Bride standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-643-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-643.jpg"
                   data-description="Bride with bouquet standing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-667-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-667.jpg"
                   data-description="Groom posting in front of wood stack"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-694-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-694.jpg"
                   data-description="Bride and groom posing in Falconwood Park forest"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/chest-and-decorations-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/chest-and-decorations.jpeg"
                   data-description="Inside tabel decor"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/red-booths-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/red-booths.jpg"
                   data-description="Inside red diner style booths"
                   style="display:none">
              </a>
              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/Tillers-826-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Tillers-826.jpg"
                   data-description="Bride and groom dancing inside"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/kotulak-670-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-670.jpg"
                   data-description="Bride and grandpa dancing on Falconwood Park patio"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/kotulak-723-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-723.jpg"
                   data-description="Bride and guests dancing on Falconwood Park patio"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Brett Brooner Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/Thumbs/kotulak-736-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Weddings/kotulak-736.jpg"
                   data-description="Bride throwing bouquet to guests on Falconwood Park patio"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->

  <div id="contact"></div>