<div class="container-fluid">
  <div class="row">
    <div>
      <%= image_tag "2560x1200drivein.jpg", class:"index-header-img" %>
    </div>
  </div>
</div>
<div id="about"></div>
<div class="container">
  <div class="row content-container">
    <div class="col-sm-12 col-md-6">
      <h1 class="text-center content-header">About our</h1>
      <h1 class="text-center content-header">Drive In</h1>
      <%= image_tag "about-drivein.png", class:"about-img"%>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Kick back and relive your childhood summer days at the drive-in! Falconwood Park features a 37 foot screen and Drive-In Passes that allow for patrons to park in our 150 space drive-in parking lot on a first come first serve basis. Once the main lot is full Park and Walk Passes will be available to patrons until the show is sold out.  Park and Walk patrons are welcome to park in the side lot and walk to our viewing area at the front of the green with blankets and camping chairs.</p>

      <p>Our Drive-In features and outdoor sound system as well as an FM radio transmitter so you can feel free to watch the movie from the comfort of your own vehicle or lounge outside the car and enjoy it with your friends.</p>
    </div>
  </div>
</div>
<!-- ******************* Page Tabs ******************* -->
<div id="details"></div>
<!-- <div class="container-fluid">
  <div class="row content-container">
      <ul class="tabs">
        <li class="tab-link four current " data-tab="tab-1">Details</li>
        <li class="tab-link four" data-tab="tab-2">Lineup</li>
        <li class="tab-link four" data-tab="tab-3">FAQ</li>
        <li class="tab-link four" data-tab="tab-4">Pricing</li>
      </ul>

      <div id="tab-1" class="tab-content current">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>

      <div id="tab-2" class="tab-content">
         <div class="row">
          <div class="col-sm-12 col-md-6">
            <img class="half-col-img" src="http://lorempixel.com/400/600/">
          </div>
          <div class="col-sm-12 col-md-6 right-side-txt">
            <h2 class="text-center tab-content-header">Concert Title</h2>
            <h3>Dates - Dates</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

      <div id="tab-3" class="tab-content">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>

      <div id="tab-4" class="tab-content">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div> 
  </div>
</div> -->
<div class="container-fluid">
  <div class="row content-container"
    <div class="tab">
      <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
      <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Pricing')"><h3>Pricing</h3></a>
      <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
      <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
      <a href="javascript:void(0)" class="tablinks five" onclick="openCity(event, 'faq')"><h3>faq</h3></a>
    </div>

    <div id="Details" class="tabcontent">
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>

    <div id="Pricing" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p> 
    </div>

    <div id="Calendar" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>

    <div id="Lineup" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>

    <div id="faq" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
  </div>
</div>
<!-- ******************* Page Tabs ******************* -->
<div id="contact"></div>
