<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/2560x1200drivein-goonies-new.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Drive-In</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/about-drivein.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>For years Omaha and the surrounding markets have felt the drive-in drought.  After the last theater closed in Council Bluffs the community was left with a void.  Facebook pages were born and many people talked about the idea of opening up a new place to host this long-time favorite cinema experience.  Falconwood Park heard your voices and opened up the first drive-in movie theater this area has seen in over a decade!</p>

        <p>Our first summer series was immensely popular prompting sellouts for most movies.  We were greatly humbled and hope to see your continued support of this venture so we can keep the format alive for years to come!  This year we are back and better than ever applying much of what we learned to provide you with the most authentic experience!</p>

        <div class="button-container">
          <%= link_to "About Our Park", about_path, class: "btn btn-secondary action-button", role: "button" %>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')" id="defaultOpen"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-t-5 accent-font-1">Ticket Info</h1>
              <p>Falconwood Park does sell drive-in tickets at the gate, however, we <em>strongly</em> recommend purchasing your tickets ahead of time online as drive-in spots are limited and do quite frequently sell out.  Online ticket sales for each show will end an hour before gates open.</p>

              <p>All movies start at dusk with the gates opening 2 hours prior.  Times will be posted on each individual film.</p>

              <p>Food trucks, a bar, and concessions are available at the venue and we encourage your patronage! No outside alcohol is allowed inside the park.</p>

              <p>Tickets for our drive-in are priced per vehicle and are based on occupancy:</p>

              <ul>
                <li>$7 for a single occupant</li>
                <li>$14 for two occupants</li>
                <li>$20 for 3 or more occupants</li>
              </ul>

              <h3 class="yellow text-center p-t-5 accent-font-2">Drive-In Passes</h3>

              <p>A Drive-In pass is guarantee a drive-in parking spot.  150 Drive-in spots are available. Spots are filled on a first come first serve basis.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Park and Walk Passes</h3>

              <p>Once the drive-in spots have been filled we have additional ticketing called a Park and Walk. Park and Walk patrons will park in a separate lot and are encouraged to bring blankets or chairs up to the viewing area in front of the screen to view the movie or meet up with your friends at their car. If you are getting tickets at the gate we suggest that you bring seating just in case we sell out of drive-in spots.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Tent Passes</h3>

              <p>In addition to your Drive-In or Park and Walk pass, if you would like to camp after the show, you may purchase a tent pass for an extra $10 charge per tent.</p>

              <h1 class="yellow text-center p-t-5 accent-font-1">Booking</h1>

              <p>To book a private drive-in movie event at Falconwood Park email Brandon Miller at <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.  We will work with you to provide the best environment for the success of your event.</p>
 
              <p>Check out our calendar for dates, times, and tickets.</p>

            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Drive-in screen at Falconwood Park”
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/Drive-in1-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/Drive-in1.jpg"
                   data-description=“Drive-in screen at Falconwood Park”
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Drive-in screen with cars parked in lot at Falconwood Park”
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/Drive-in2-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/Drive-in2.jpg"
                   data-description="Drive-in screen with cars parked in lot at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Crowd of people in viewing area at Falconwood park drive-in”
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/crowd-up-front-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/crowd-up-front.jpg"
                   data-description="Crowd of people in viewing area at Falconwood park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Couple in truck at Falconwood Park drive-in”
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/cute-couple-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/cute-couple.jpg"
                   data-description="Couple in truck at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Family in truck at Falconwood Park drive-in“
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/family-in-truck-bed-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/family-in-truck-bed.jpg"
                   data-description="Family in truck at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Family in viewing area at Falconwood Park drive-in“
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/family-with-blankets-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/family-with-blankets.jpg"
                   data-description="Family in viewing area at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Girls sitting on car roof watching the screen at Falconwood Park drive-in“
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/girls-watching-star-wars-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/girls-watching-star-wars.jpg"
                   data-description="Girls sitting on car roof watching the screen at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Vendor grilling food at Falconwood Park drive-in“
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/grilling-food-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/grilling-food.jpg"
                   data-description="Vendor grilling food at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Mother applying sunscreen to children at Falconwood Park drive-in”
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/little-girl-cheezin-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/little-girl-cheezin.jpg"
                   data-description="Mother applying sunscreen to children at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=“Drive-in screen with crowd in viewing area at Falconwood Park“
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/screen-with-crowd-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/screen-with-crowd.jpg"
                   data-description="Drive-in screen with crowd in viewing area at Falconwood Park"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <p>More information coming soon! Check the calendar for dates and movies</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->

  <div id="contact"></div>