@import "variables";

.button-container {text-align: center;}

.action-button {
	background-color: $red;
	color: $white;
	font-size: 18px;
	border-radius: 7px;
	border: none;
	text-decoration: none;
    // margin-left: auto;
    // margin-right: auto;
    margin: 5% 2% 0 2%;
    &:focus {
    	color: $black;
    	background-color: $lt-grey;
    }
    &:hover {
        color: $black;
        background-color: $yellow;
    }
}

.mobile-nav-menu {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $red;
    color: $white;
    margin-bottom: 5%;
}