$black: #000;
$lt-grey: #DDD9D1;
$md-grey: #A4A19C;
$drk-grey: #7F7C78;

.content-container {
	margin: 7% 7% 7% 7%;
}

.category-container {
	margin-top: 7%;
}

.content-header {
	padding-bottom: 5%;
	color: $lt-grey;
}