@import "variables";

.index-header-img {
	position: relative;
	width: 100%;
	height: auto;
}

.about-img {
	width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-tagline {
	text-align: center;
	font-family: 'Realist';
	font-size: 1.5em
}


@media screen and (min-width: 768px) {
	.about-img {width: 80%;}
}