
@import "variables";
.black-font {color: $black;}
.lt-grey-font {color: $lt-grey;}
.md-grey-font {color: $md-grey;}
.drk-grey-font {color: $drk-grey;}
.yellow-font {color: $yellow;}
.red-font {color: $red;}
.white-font {color: $white;}