@import "variables";

//link colors for a black background
a.black-background-link {
	color: $red;
	text-decoration: underline;
	&:hover {
		color: $yellow;
	}
}

//link colors for a white background
a.white-background-link {
	color: $black;
	text-decoration: underline;
	&:hover {
		color: $drk-grey;
	}
}

//background colors
.background-black {background-color: $black;}
.background-yellow {background-color: $yellow;}
.background-blue {background-color: $blue;}
.background-lt-grey {background-color: $lt-grey;}
.background-md-grey {background-color: $md-grey;}
.background-drk-grey {background-color: $drk-grey;}
.background-white {background-color: white;}
