// *************** RESPONSIVE 5 COLUMN LAYOUT *******************
  @mixin easeOut {
    transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  @mixin break {
    @media screen and (max-width: 760px) {
      @content;
    }
  }

  * {
    box-sizing: border-box;
  }

  //strip sizes
  .strips {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: white;
    
    &__strip {
      will-change: width, left, z-index, height;
      position: absolute;
      width: 20%;
      min-height: 100vh;
      overflow: hidden;
      cursor: pointer;
      @include easeOut;
      
      &:nth-child(1) {
        left: 0;
      }
      
      &:nth-child(2) {
        left: 20vw;
      }
      
      &:nth-child(3) {
        left: 40vw;
      }
      
      &:nth-child(4) {
        left: 60vw;
      }
      
      &:nth-child(5) {
        left: 80vw;
      }

      //photos change for media queries
      &:nth-child(1) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
        }
      }

      &:nth-child(2) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
        }
      }
      
      &:nth-child(3) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
        }
      }
      
      &:nth-child(4) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
        }
      }
      
      &:nth-child(5) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
        }
      }

      
      @include break {
        min-height: 20vh;
        &:nth-child(1) {
          top: 0;
          left: 0;
          width: 100%;
        }

        &:nth-child(2) {
          top: 20vh;
          left: 0;
          width: 100%;
        }

        &:nth-child(3) {
          top: 40vh;
          left: 0;
          width: 100%;
        }

        &:nth-child(4) {
          top: 60vh;
          left: 0;
          width: 100%;
        }

        &:nth-child(5) {
          top: 80vh;
          left: 0;
          width: 100%;
        }
      }
    }
    
    .strip__content {
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      animation-fill-mode: both;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;

      // hides the detail text of the column
      .strip__inner-text {
        // will-change: transform, opacity;
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translate(-50%,-50%) scale(0.70);
        opacity: 0;
        @include easeOut;
      }

      &:hover {
        //makes line shading grow on hover
        &:before {
          transform: skew(-30deg) scale(3) translate(0, 0);
          opacity: 0.1;
        }

        //displays detail text of the column on hover
        .strip__inner-text {
          opacity: 1;
        }

        .strip__title {
          opacity: 0;
        }
      }

      //shows line shading on static
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.05;
        transform-origin: center center;
        transform: skew(-30deg) scaleY(1) translate(0, 0);
        @include easeOut;
      }
    }

    .strip__title {
      font-size: 1.25em;
    }
  }

  @media screen and (min-width: 600px) {
    .strips {
      //changes photos to desktop versions
      &:nth-child(1) {
        .strip__content {
          background-image: url("column_wedding.jpg");
          background-position: center;
        }
      }

      &:nth-child(2) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
          background-position: center;
        }
      }
      
      &:nth-child(3) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
          background-position: center;
        }
      }
      
      &:nth-child(4) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
          background-position: center;
        }
      }
      
      &:nth-child(5) {
        .strip__content {
          background-image: url("mobile_wedding.jpg");
          background-position: center;
        }
      }
      .strip__content {
        .strip__inner-text {
          transform: translate(-50%,-50%) scale(0.85);
          background-position: center;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    //increases size of non-hover title
    .strips {
      .strip__title {
        font-size: 1.5em;
      }
    }
  }
// *************** RESPONSIVE 5 COLUMN LAYOUT *******************



