@import "variables";

.logo-container{
    text-align: center;
}

.logo {
	margin: 0 auto;
    display: inline-block;
	margin-top: 1%;
    margin-bottom: 7%;
    width: 20%
}

header {
	margin-top: 20px;
	margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
    .header-img {
    	position: absolute;
    	z-index: 1;
    	width: 100%;
    }

    .logo {
    	width: 10%;
        margin-bottom: 1%;
    }

    header {
    	margin: 0 0 0 0;
    }

    .logo-container{
        // position: fixed;
        top: 0;
        width: 100%;
    }
}