@import "variables";

.logo-container{
    text-align: center;
}

.logo {
	margin: 0 auto;
    display: inline-block;
	margin-top: 1%;
    margin-bottom: 1%;
}

.logo-lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

header {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 374px) {
    .logo {
    	width: 40%;
    }

    .logo-lg {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .header-img {
    	position: absolute;
    	z-index: 1;
    	width: 100%;
    }

    .logo {
    	width: 10%;
    }

    header {
    	margin: 0 0 0 0;
    }
}