.half-col-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.staff-photo {
	width: 100%;
	border-radius: 50%;
}

// ********************************* Image Gallery Modal ******************************* //
	
// ********************************* /Image Gallery Modal ******************************* //

@media screen and (min-width: 768px) {
	.half-col-img {
		display: initial;
		float: right;
	}
}

@media screen and (min-width: 1200px) {

}