.half-col-img {
	width: 100%;
	padding-bottom: 10%;
}

.staff-photo {
	width: 100%;
	border-radius: 50%;
}

// ********************************* Image Gallery Modal ******************************* //
	
// ********************************* /Image Gallery Modal ******************************* //

@media screen and (min-width: 768px) {
	.half-col-img {
		display: initial;
		float: right;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 1024px) {
	.half-col-img {
		width: 80%;
	}
}