@import "variables";

// *************** SIDE NAVIGATION MENU *******************
  /* The side navigation menu */
  .sidenav {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 10; /* Stay on top */
      top: 0;
      left: 0;
      background-color: $black; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 10%; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      opacity: 0.8;
  }

  /* The navigation menu links */
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: $lt-grey;
      display: block;
      transition: 0.3s
  }

  .sidenav-link:hover {
    color: $black;
    background-color: white;
  }

  /* When you mouse over the navigation links, change their color */
  // .sidenav a:hover, .offcanvas a:focus{
  //     color: #f1f1f1;
  // }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  .hamburger-icon{
    position: absolute;
    top: 0;
    z-index: 10;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    color: $black;
    left: 0;
  }

  a.tab-link {
    text-decoration: none;
    color: $black;
    padding: 2% 4%;
  }

  .mobile-nav-menu {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $blue;
    color: white;
    margin-bottom: 5%;
  }

  .cat-index-nav {
    text-align: center;
    margin: 4%;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      transition: margin-left .5s;
      padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
  }

  @media screen and (min-width: 600px) {
    .cat-index-nav {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      margin-left: 2%;
      margin-top: 1%;
      margin-bottom: 2%;
      margin-right: 2%;
      color: white;
      width: 35%;
      text-align: right;
    }
  }
// *************** SIDE NAVIGATION MENU *******************