@import "variables";

/* Style the tab */
div.tab {
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.tablinks {
    width: 100%;
    text-align: center;
    color: $drk-grey;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 5px;
    border: $drk-grey solid 0.25px;
}

.tablinks:hover {
    background-color: $drk-grey;
    color: white;
    text-decoration: none;
}

.tablinks:focus, .active {
    background-color: $blue;
    color: white;
    text-decoration: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    background-color: $black;
    // width: 100%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.full-width {
    width: 100%;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (min-width: 768px) {
  .five {
    width: 20%;
  }

  .four {
    width: 25%;
  }

  .three {
    width: 33%;
  }
}