@import "variables";

// full tab container
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
}

// individual tab
ul.tabs li{
  background: none;
  color: $black;
  display: inline-block;
  padding: 15px 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

ul.tabs li.current{
  background: white;
  color: black;
}

.tab-content{
  display: none;
  background: $black;
  padding: 15px;
  width: 100%;
}

.tab-content.current{
  display: inherit;
}

@media screen and (min-width: 768px) {
  // three individual tabs
  ul.tabs li.three{
    float: left;
    width: 33%;
  }

  // four individual tabs
  ul.tabs li.four{
    float: left;
    width: 25%;
  }

  // five individual tabs
  ul.tabs li.five{
    float: left;
    width: 20%;
  }
}

















