@import "variables";
@import url('https://fonts.googleapis.com/css?family=Raleway');

//fonts
@font-face {
	font-family: 'Realist';
  	src: url("Realist.otf");
}

@font-face {
	font-family: 'Heartland Rough';
  	src: url("Heartland Rough.otf");
}
.main-accent-font {font-family: 'Heartland Rough';}
.secondary-accent-font {font-family: 'Realist';}

//font colors
.yellow {color: $yellow;}
.blue {color: $blue;}
.lt-grey {color: $lt-grey;}
.md-grey {color: $md-grey;}
.drk-grey {color: $drk-grey;}
.white {color: $white;}
.black {color: $black}
.red {color: $red;}

@media screen and (min-width: 992px) {
	.main-accent-font .larger {font-size: 1.5em;}
	.secondary-accent-font .larger {font-size: 1em;}
}