$black: #18121E; //dark eggplant/black
$lt-grey: #B3AFAA; //med-lt grey
$md-grey: #A4A19C;
$drk-grey: #233237; //greenish gunmetal
$yellow: #EAC67A; //topaz soft yellow
$red: #984B43; //terra cotta red
$white: #FCF7F0; //eggshell white