
<div class="container-fluid">
	<div class="row content-container">
		<div class="col-sm-12">
			<h1 class="text-center content-header"><span class="accent-font-2">Contact Us</span></h1>
			<%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Homepage/Kodysmallsedited.png", class:"footer-img" %>
			<div class="contact-info p-t-5">
				<p class="text-center contact-info">Phone: 402-210-4747<br>
				Address: 905 Allied Rd, Bellevue, NE 68123<br>
				Email: <a class="white-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
