
<div class="container-fluid">
	<div class="row content-container">
		<div class="col-sm-12">
			<h1 class="text-center content-header"><span class="accent-font-2">Contact Us</span></h1>
			<%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Homepage/Kodysmallsedited.png", class:"footer-img" %>
			<div class="contact-info p-t-5">
				<p class="text-center contact-info">Phone: <a class="white-background-link" href="tel:4022104747">402.210.4747</a><br>
				Address: <a class="white-background-link" target="_blank" href="https://www.google.com/maps/place/Falconwood+Park+and+Hullabaloo+Music+Group+(formerly+Sokol+Park)/@41.065923,-95.9244097,17z/data=!3m1!4b1!4m5!3m4!1s0x87947741d4474359:0xd6de2971f1853f04!8m2!3d41.065923!4d-95.922221">905 Allied Rd, Bellevue, NE 68123</a><br>
				Email: <a class="white-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
