
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container p-b-10">
				<h2 class="text-center content-header p-b-2 special-font">Contact Us</h2>
				<%= image_tag "Kodysmallsedited.png", class:"footer-img" %>
				<div class="contact-info p-t-5">
					<p class="text-center contact-info">Phone: 402-210-4747<br>
					Address: 905 Allied Rd, Bellevue, NE 68123<br>
					Email: SokolParkOmaha@gmail.com
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
