
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container p-b-10">
				<h2 class="text-center content-header p-b-2">Contact&nbsp;&nbsp;&nbsp;&nbsp;Us</h2>
				<%= image_tag "Kodysmallsedited.png", class:"footer-img" %>
				<div class="contact-info p-t-5">
					<h3 class="text-center">Phone: 402-210-4747</h3>
					<h3 class="text-center">Address: 905 Allied Rd, Bellevue, NE 68123</h3>
				</div>
			</div>
		</div>
	</div>
</div>
