<div class="container category-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-container">
				<h2 class="text-center content-header">Contact Us</h2>
				<%= image_tag "Kodysmalls.jpg", class:"footer-img" %>
				<h3 class="text-center">Phone: 402-555-5555</h3>
			</div>
		</div>
	</div>
</div>