<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header-img">
        <div class="logo-container">
          <%= link_to root_path do %>
  		      <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/falconwood-logo-150.png", class:"logo"%>
  		    <% end %>
        </div>
      </div>
    </div>
  </div>
</header>