<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header-img">
        <%= link_to root_path do %>
		      <%= image_tag "falconwood-logo-150.png", class:"logo hidden-sm-down"%>
		      <%= image_tag "falconwood-logo-white-150.png", class:"logo hidden-md-up"%>
		    <% end %>
      </div>
    </div>
  </div>
</header>