<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
  <a href="weddings">Weddings</a>
  <a href="live_music">Live Music</a>
  <a href="drive_in">Drive-In</a>
  <a href="camping">Camping</a>
  <a href="private_events">Private Events</a>
</div>

<!-- Use any element to open the sidenav -->
<span class="hidden-sm-down" onclick="openNav()"><i class="fa fa-bars hamburger-icon fa-2x" aria-hidden="true"></i></span>

<span onclick="openNav()" class="hidden-md-up"><button type="button" class="btn btn-secondary mobile-nav-menu">Menu</button></span>