<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/" class="sidenav-link">Home</a>
  <hr class="m-0">
  <a href="about" class="sidenav-link">About</a>
  <hr class="m-0">
  <a href="weddings" class="sidenav-link">Weddings</a>
  <hr class="m-0">
  <a href="live_music" class="sidenav-link">Live Music</a>
  <hr class="m-0">
  <a href="drive_in" class="sidenav-link">Drive-In</a>
  <hr class="m-0">
  <a href="camping" class="sidenav-link">Camping</a>
  <hr class="m-0">
  <a href="private_events" class="sidenav-link">Private Events</a>
</div>

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header-img">
        <div class="logo-container index-logo-container">
          <!-- Use any element to open the sidenav -->
          <span class="hidden-sm-down" onclick="openNav()"><i class="fa fa-bars hamburger-icon fa-2x" aria-hidden="true"></i></span>

          <%= link_to root_path do %>
            <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Homepage/falconwood-logo-150.png", class:"logo"%>
          <% end %>

          <span onclick="openNav()" class="hidden-md-up"><button type="button" class="btn btn-secondary mobile-nav-menu">Menu</button></span>
          <div id="tiny-nav" class="cat-index-nav">
            <a href="javascript:void(0)" class="tab-link" onclick="scrollToAbout()">About</a>
            <a href="javascript:void(0)" class="tab-link" onclick="scrollToDetails()">Details</a>
            <a href="javascript:void(0)" class="tab-link" onclick="scrollToContact()">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

